.listing--actions {
    .is--collapsed {
        .filter--container {
            .filter--facet-container,
            .filter--active-container {
                display: block;
            }
        }
    }
}
