footer.footer-main .footer--column .content {
    input.newsletter--field {
        border-radius: 16px 0 0 16px;
        box-shadow: none;
    }

    button.newsletter--button {
        border-radius: 0 16px 16px 0;
    }
}
