{extends file="documents/index.tpl"}

{block name="document_index_address_base"}
    {if $User.$address.company}{$User.$address.company}<br />{/if}
    {if $User.$address.department}{$User.$address.department}<br />{/if}
    {s name="cashSelling"}Barverkauf{/s}<br />
    {$User.$address.street}<br />
{/block}
