// Shop navigation
.shop--navigation {
    .navigation--entry {
        .hr-icon-cart,
        .hr-icon-user {
            .unitize(font-size, 21);
            display: inline;
            position: relative;
            vertical-align: middle;
            top: 0;
            left: 1px;
        }

        .hr-icon-heart {
            .unitize(font-size, 21);
            vertical-align: middle;
        }
    }
}

@media screen and (min-width: @tabletLandscapeViewportWidth) {
    .navigation--list {
        .entry--cart {
            .hr-icon-cart {
                .unitize(left, 8);
                display: block;
                position: absolute;
                top: 25%;
                left: 10px;
            }
        }

        .entry--account {
            .hr-icon-user {
                .unitize(left, 8);
                display: block;
                position: absolute;
                top: 25%;
            }
        }
    }
}
