@import "variables";

@font-face {
  font-family: '@{icomoon-font-family}';
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?jc2x8d');
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?jc2x8d#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?jc2x8d') format('truetype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.woff?jc2x8d') format('woff'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.svg?jc2x8d#@{icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="hr-icon-"], [class*=" hr-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hr-icon-magnifier {
  &:before {
    content: @hr-icon-magnifier; 
  }
}
.hr-icon-tab {
  &:before {
    content: @hr-icon-tab; 
  }
}
.hr-icon-health-rise_logo_ball {
  &:before {
    content: @hr-icon-health-rise_logo_ball;     
    color: #95c23d;
  }
}
.hr-icon-heart {
  &:before {
    content: @hr-icon-heart; 
  }
}
.hr-icon-star {
  &:before {
    content: @hr-icon-star; 
  }
}
.hr-icon-user {
  &:before {
    content: @hr-icon-user; 
  }
}
.hr-icon-cart {
  &:before {
    content: @hr-icon-cart; 
  }
}
.hr-icon-cart-add {
  &:before {
    content: @hr-icon-cart-add; 
  }
}
.hr-icon-telephone {
  &:before {
    content: @hr-icon-telephone; 
  }
}
.hr-icon-map {
  &:before {
    content: @hr-icon-map; 
  }
}
.hr-icon-smartphone {
  &:before {
    content: @hr-icon-smartphone; 
  }
}
.hr-icon-network {
  &:before {
    content: @hr-icon-network; 
  }
}
.hr-icon-thumbs-up2 {
  &:before {
    content: @hr-icon-thumbs-up2; 
  }
}
.hr-icon-thumbs-down2 {
  &:before {
    content: @hr-icon-thumbs-down2; 
  }
}
.hr-icon-cross {
  &:before {
    content: @hr-icon-cross; 
  }
}
.hr-icon-checkmark-circle {
  &:before {
    content: @hr-icon-checkmark-circle; 
  }
}

