@icomoon-font-family: "hr-shop-icons";
@icomoon-font-path: "fonts";

@hr-icon-magnifier: "\e923";
@hr-icon-tab: "\e94f";
@hr-icon-health-rise_logo_ball: "\e900";
@hr-icon-heart: "\e68c";
@hr-icon-star: "\e68d";
@hr-icon-user: "\e71e";
@hr-icon-cart: "\e74d";
@hr-icon-cart-add: "\e752";
@hr-icon-telephone: "\e76a";
@hr-icon-map: "\e782";
@hr-icon-smartphone: "\e7a6";
@hr-icon-network: "\e886";
@hr-icon-thumbs-up2: "\e91b";
@hr-icon-thumbs-down2: "\e91c";
@hr-icon-cross: "\e935";
@hr-icon-checkmark-circle: "\e959";

