.product--buybox {
    .alert {
        border-radius: 16px;
    }

    .product--delivery {
        .delivery--text-more-is-coming,
        .delivery--text-not-available {
            color: @brand-secondary;
        }

        .delivery--status-more-is-coming,
        .delivery--status-not-available {
            background:  @brand-secondary;
        }
    }

}

.buybox--button-container {
    .buybox--quantity {
        .select-field {
            select.quantity--select {
                border-radius: 16px;
            }
        }
    }

    button.buybox--button {
        border-radius: 16px;
    }
}
