div.emotion--element.hr-white-bottom-layer {
    .emotion--digital-publishing {
        .dig-pub {
            div.dig-pub--layer.center {
                &.center {
                    .layer--wrapper {
                        width: 100%;

                        img {
                            width: 100%;
                        }
                    }
                }

                &.bottom {
                    padding: 0 !important;

                    .layer--content {
                        border-radius: 0 !important;
                    }
                }
            }
        }
    }
}
