/**
Less Playground: https://lesscss.org/less-preview/
Added by Dwza
 */

.emotionRounding(@radius) {
    .emotion--category-teaser {
        a.category-teaser--link {
            border-radius: @radius;

            span.category-teaser--title {
                border-radius: 0 0 @radius @radius;
            }
        }
    }
    .emotion--banner {
        border-radius: @radius;
    }

    .product-slider {
        .product-slider--container {
            .product-slider--item{
                img {
                    border-radius: @radius;
                }
            }
        }
    }
}

.roundEmotionElements(@maxRadius: 16, @i: 1) when (@i =< @maxRadius) {
    & when(@i = 1) {
        &.hr-rounded {
            @borderMRadius: unit(@maxRadius, px);
            border-radius: @borderMRadius;
            .emotionRounding(@borderMRadius)
        }
    }
    &.hr-rounded-@{i} {
        @borderRadius: unit(@i, px);

        .emotionRounding(@borderRadius)
    }

    .roundEmotionElements(@maxRadius, (@i + 1));
}

.emotion--container {
    .emotion--element {
        .roundEmotionElements()
    }
}



