@media screen and (min-width: @desktopViewportWidth) {
    .header-main{
        .container {
            &.header--navigation {
                display: flex;
                align-items: end;
            }
            .logo-main {
                padding: 0;
            }
        }
    }
}
