.image-slider--container {
    .image-slider--item .image--element img {
        border-radius: 16px;
        overflow: hidden;
    }
}

.product--box .product--image .image--element img {
    border-radius: 16px;
}
