@media screen and (min-width: @tabletViewportWidth) {
    .listing--wrapper {

        .listing--paging a.paging--link {
            background-image: none;
        }

        .action--filter-btn a.filter--trigger,
        .action--sort select.sort--field,
        .listing--paging a.paging--link,
        .listing--paging .action--per-page select.per-page--field {
            border-radius: 16px;
        }

        .listing--container .product--box .product--info .product--btn-container {
            button.buybox--button,
            a.buybox--button {
                border-radius: 16px;
                background-image: none;
            }
        }
    }
}
