.is--ctl-index.is--act-index {
    div#sliiider-toggle-3 {
        right: 15px !important;
    }
}


@media screen and (max-width: @phoneLandscapeViewportWidth){
    div.netzp-notifications-toggler {
        display: none !important;
    }
}