#myCustomTrustbadge {
    bottom: 10px;
    position: fixed;
    right: 10px;
    z-index: 7999;
}


@media screen and (max-width: @phoneLandscapeViewportWidth) {
    div[id^="trustbadge-container"] {
        z-index: 7999 !important;
    }
}