.table--footer {
    .footer--benefit {
        .payment-image-wrapper {
            max-width: 100px;
        }
    }
}


img#promo-desc-img-large {
    display: block;
    width: 100%;
}

img#promo-desc-img-small {
    display: none;
    width: 100%
}


@media screen and (max-width: @phoneLandscapeViewportWidth) {
    img#promo-desc-img-large {
        display: none;
    }

    img#promo-desc-img-small {
        display: block;
    }
}
