.confirm--content {

    .feature--user-comment {
        display: contents;

        .user-comment--field {
            resize: none;
        }
    }
}

@media screen and (min-width: @phoneLandscapeViewportWidth) {

    .confirm--content {

        .information--panel-item.information--panel-address {

            .panel--actions {

                .choose-different-address {
                    display: inline-block;
                }
            }
        }
    }
}

@media screen and (min-width: @tabletViewportWidth) {

    .confirm--content {

        // Additional features
        .additional--features {

            .user-comment--field {
                height: 100%;
            }
        }

        .information--panel-wrapper {
            margin: -1.75% 0 0 -2%;

        }
    }
}

@media screen and (min-width: @tabletLandscapeViewportWidth) {
    .confirm--content {

        .information--panel-wrapper {

            .information--panel-item {
                width: 33.3%;

                &.information--panel-agb,
                &.information--panel-address {
                    width: 66.6%;
                }
            }
        }
    }
}
