header.header-main {
    .container {
        nav.shop--navigation {
            .navigation--entry {
                a.btn {
                    border-radius: 16px;
                }
            }
        }
    }
}
