@media screen and (min-width: @tabletViewportWidth) {
    nav.navigation-main .navigation--list {
        .navigation--entry, .navigation--entry.is--hovered {

            border-radius: 16px;

            .navigation--link, .navigation--link:hover {
                background-image: none;
                border-radius: 16px 16px 0 0;
            }
        }
    }
}
