header.header-main {
    .container {
        nav.shop--navigation {
            .entry--search {
                .main-search--field {
                    border-radius: 16px;
                }
            }
        }
    }
}



