@media screen and (min-width: @tabletViewportWidth) {

    footer.footer-main, footer.table--footer {

        .footer--column, .footer--benefit {
            .column--content.pmt {
                display: grid;
                grid-template-columns: repeat(3, 75px);
            }
        }
    }
}
