.advanced-menu {
    /**
    Set a general border radius to the bottom menu corners
     */
    border-radius: 0 0 16px 16px;

    .item--level-0 {
        .unitize(padding-bottom, 5) !important;
    }

    .item--level-1 {
        .menu--list-item-link {
            .unitize-padding(2, 0, 0, 0) !important;

            &:hover {
                .unitize-padding(2, 0, 0, 3) !important;
            }
        }
    }

    .menu--list-item-link {
        .unitize(font-size, 14) !important;
    }

    .button-container {
        /**
        Remove advance menu head with information to category name
         */
        display: none;
    }

}


.menu--container.menu--is-active {
    /**
    Create a boarder on top of the menu to make it more clean
     */
    border-top: 5px solid #A4CA4D;
    border-radius: 0 0 16px 16px;
}

