.noTab_detail_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 15px 0;

    .content_data {
        &.custom-content {
            .unitize(padding, 10);
        }
        .tab--container {
            .tab--header,
            .tab--preview {
                display: none;
            }
        }
    }

    .content_title {
        .unitize-padding(0, 0, 0, 10);
    }

    /* LEFT */

    .noTab_detail_container_left {
        display: grid;
        gap: 15px;
        grid-auto-rows: min-content;
    }

    /* RIGHT */

    .noTab_detail_container_right {
        display: grid;
        gap: 15px;
        grid-auto-rows: min-content;

        .item {
            background: #F7F7F7;
        }
    }
}

@media screen and (min-width: @tabletViewportWidth) {
    .noTab_detail_container {
        grid-template-columns: 3fr 2fr;

        .content_data {
            &.custom-content {
                .unitize(padding, 30);
            }
        }

        .content_title {
            .unitize-padding(0, 0, 0, 30);
        }
    }
}



